<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mbcrmsys.dao.RoleMapper" >
  <resultMap id="BaseResultMap" type="com.mbcrmsys.pojo.Role" >
    <id column="ROL_ID" property="rolId" jdbcType="INTEGER" />
    <result column="ROL_NAME" property="rolName" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    ROL_ID, ROL_NAME
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from role
    where ROL_ID = #{rolId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from role
    where ROL_ID = #{rolId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.mbcrmsys.pojo.Role" >
    insert into role (ROL_ID, ROL_NAME)
    values (#{rolId,jdbcType=INTEGER}, #{rolName,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.mbcrmsys.pojo.Role" >
    insert into role
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="rolId != null" >
        ROL_ID,
      </if>
      <if test="rolName != null" >
        ROL_NAME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="rolId != null" >
        #{rolId,jdbcType=INTEGER},
      </if>
      <if test="rolName != null" >
        #{rolName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.mbcrmsys.pojo.Role" >
    update role
    <set >
      <if test="rolName != null" >
        ROL_NAME = #{rolName,jdbcType=VARCHAR},
      </if>
    </set>
    where ROL_ID = #{rolId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.mbcrmsys.pojo.Role" >
    update role
    set ROL_NAME = #{rolName,jdbcType=VARCHAR}
    where ROL_ID = #{rolId,jdbcType=INTEGER}
  </update>
</mapper>