<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mbcrmsys.dao.ServeTypeMapper" >
  <resultMap id="BaseResultMap" type="com.mbcrmsys.pojo.ServeType" >
    <id column="SE_ID" property="seId" jdbcType="INTEGER" />
    <result column="SE_NAME" property="seName" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    SE_ID, SE_NAME
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from serve_type
    where SE_ID = #{seId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from serve_type
    where SE_ID = #{seId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.mbcrmsys.pojo.ServeType" >
    insert into serve_type (SE_ID, SE_NAME)
    values (#{seId,jdbcType=INTEGER}, #{seName,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.mbcrmsys.pojo.ServeType" >
    insert into serve_type
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="seId != null" >
        SE_ID,
      </if>
      <if test="seName != null" >
        SE_NAME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="seId != null" >
        #{seId,jdbcType=INTEGER},
      </if>
      <if test="seName != null" >
        #{seName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.mbcrmsys.pojo.ServeType" >
    update serve_type
    <set >
      <if test="seName != null" >
        SE_NAME = #{seName,jdbcType=VARCHAR},
      </if>
    </set>
    where SE_ID = #{seId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.mbcrmsys.pojo.ServeType" >
    update serve_type
    set SE_NAME = #{seName,jdbcType=VARCHAR}
    where SE_ID = #{seId,jdbcType=INTEGER}
  </update>
</mapper>